@import "tailwindcss";


@theme {
  --color-roxo-primario: #6F0264;
  --color-verde-primario: #6FB654;
  --color-rosa-forte: #AA0078;
  --color-roxo-fucsia: #C25FBF;
  --color-verde-limao: #73F271;
  --color-verde-piscina: #A3E4A0;
  --color-verde-escuro: #3E7C53;
  --color-verde-vibrante: #00EE52;
  --color-cinza: #474747;
  --color-branco: #fff;
  --color-preto: #000;
  --color-dark: #1F1F1F;
  --font-inter: 'Inter', sans-serif;
}
